.section {
    padding: 40px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    @include for-desktop-up {
        max-width: 960px;
    }
    @include for-big-desktop-up {
        max-width: 1200px;
    }
}

.content {
    .title {
        margin-top: 0;
    }
}
