// color
$c-blue: #2077B2;
$c-grey: #707070;
$c-grey--dark: #42464C;
$c-grey--light: #F8F8F8;
$c-primary: $c-blue;
$c-text: $c-grey--dark;

// font-family
$ff-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
$ff-code: Menlo, Monaco, Consolas, "Courier New", monospace;
