.section {
  padding: 40px 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  @include for-desktop-up {
    max-width: 960px;
  }
  @include for-big-desktop-up {
    max-width: 1200px;
  }
}

.category {
  float: right;
  &__item {
    background: $c-grey--light;
    border-radius: 3px;
    color: $c-grey;
    padding: .2em .4em;
    margin: 0 .2em;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.content {
  .title {
    margin-top: 0;
  }
}
