<article>
  <time class="date">{{ .Date.Format "January 2, 2006" }}</time>
  <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
  <div class="content">
    {{ .Summary | plainify | safeHTML }}
    {{- if .Truncated }}
    …
    <br>
    <a class="btn btn--more" href="{{ .Permalink }}" style="height:28px">
      Read more
      <span class="icon is-small">
        <i class="fa fa-angle-double-right"></i>
      </span>
    </a>
    {{- end }}
  </div>
</article>
