.archives {
  .title {
    margin-top: 0;
  }
  .list {
    list-style: none;
    padding: 0;
    &__item {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      @include for-phone-only {
        flex-direction: column-reverse;
        border-bottom: 1px solid rgba($c-grey, .2);
        padding-bottom: .2em;
      }
      a {
        border-bottom: 1px solid transparent;
        &:hover {
          @include for-tablet-portrait-up {
            border-bottom: 1px solid #DFDFDF;
          }
        }
      }
    }
    time {
      font-family: $ff-code;
      opacity: .6;
      @include for-phone-only {
        font-size: .8em;
      }
    }
  }
}
